FindMeChicken-ASP/Service References/JustEatAPIService/MenuApi4.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/PublicApi.FaultData" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/PublicApi.FaultData" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="AuthorisationFault">
    <xs:sequence>
      <xs:element minOccurs="0" name="Reason" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SpecifiedUsername" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AuthorisationFault" nillable="true" type="tns:AuthorisationFault" />
  <xs:complexType name="CountryNotConfiguredFault">
    <xs:sequence>
      <xs:element minOccurs="0" name="ErrorMessage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SpecifiedCountryCode" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CountryNotConfiguredFault" nillable="true" type="tns:CountryNotConfiguredFault" />
  <xs:complexType name="LanguageNotConfiguredFault">
    <xs:sequence>
      <xs:element minOccurs="0" name="ErrorMessage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SpecifiedLanguageCode" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="LanguageNotConfiguredFault" nillable="true" type="tns:LanguageNotConfiguredFault" />
</xs:schema>