FindMeChicken-ASP/Service References/JustEatAPIService/MenuApi.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/JustEat.Core.Model" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/JustEat.Core.Model" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://api.just-eat.com/MenuApi.svc?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:import schemaLocation="http://api.just-eat.com/MenuApi.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="ArrayOfMenu">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Menu" nillable="true" type="tns:Menu" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfMenu" nillable="true" type="tns:ArrayOfMenu" />
  <xs:complexType name="Menu">
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="AvailableDuring" nillable="true" type="q1:ArrayOfKeyValueOfDayOfWeekTimeRangeMGZAWX_PW" />
      <xs:element minOccurs="0" name="Categories" nillable="true" type="tns:ArrayOfProductCategory" />
      <xs:element minOccurs="0" name="ClosingWorkTime" type="ser:duration" />
      <xs:element minOccurs="0" name="CustomerReviewsSummary" nillable="true" type="tns:ArrayOfCustomerReview" />
      <xs:element minOccurs="0" name="DeliveryCostAboveThreshold" type="xs:decimal" />
      <xs:element minOccurs="0" name="DeliveryCostBelowThreshold" type="xs:decimal" />
      <xs:element minOccurs="0" name="DeliveryCostExamples" nillable="true" type="tns:ArrayOfDeliveryExamples" />
      <xs:element minOccurs="0" name="DeliveryThresholdOrderAmount" type="xs:decimal" />
      <xs:element minOccurs="0" name="DeliveryTurningpoint" type="xs:decimal">
        <xs:annotation>
          <xs:appinfo>
            <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="PickupOrDeliveryTime" nillable="true" type="q2:ArrayOfKeyValueOfDayOfWeekdurationI2ry0_PST" />
      <xs:element minOccurs="0" name="Products" nillable="true" type="tns:ArrayOfProduct" />
      <xs:element minOccurs="0" name="RestaurantId" type="xs:int" />
      <xs:element minOccurs="0" name="Title" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Type" nillable="true" type="tns:MenuType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Menu" nillable="true" type="tns:Menu" />
  <xs:complexType name="TimeRange">
    <xs:sequence>
      <xs:element minOccurs="0" name="ClosingTime" nillable="true" type="ser:duration" />
      <xs:element minOccurs="0" name="OpeningTime" nillable="true" type="ser:duration" />
      <xs:element minOccurs="0" name="Status" type="tns:OperatingStatus" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TimeRange" nillable="true" type="tns:TimeRange" />
  <xs:simpleType name="OperatingStatus">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Normal" />
      <xs:enumeration value="Is24Hour" />
      <xs:enumeration value="IsClosed" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="OperatingStatus" nillable="true" type="tns:OperatingStatus" />
  <xs:complexType name="ArrayOfProductCategory">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ProductCategory" nillable="true" type="tns:ProductCategory" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfProductCategory" nillable="true" type="tns:ArrayOfProductCategory" />
  <xs:complexType name="ProductCategory">
    <xs:sequence>
      <xs:element minOccurs="0" name="BackgroundImageUrl" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Bogof" type="xs:boolean" />
      <xs:element minOccurs="0" name="Bogohp" type="xs:boolean" />
      <xs:element minOccurs="0" name="Columns" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Notes" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Sort" nillable="true" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ProductCategory" nillable="true" type="tns:ProductCategory" />
  <xs:complexType name="ArrayOfCustomerReview">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CustomerReview" nillable="true" type="tns:CustomerReview" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCustomerReview" nillable="true" type="tns:ArrayOfCustomerReview" />
  <xs:complexType name="CustomerReview">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:Review">
        <xs:sequence>
          <xs:element minOccurs="0" name="Comments" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="CreatedDate" type="xs:dateTime" />
          <xs:element minOccurs="0" name="NameAndCity" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="CustomerReview" nillable="true" type="tns:CustomerReview" />
  <xs:complexType name="Review">
    <xs:sequence>
      <xs:element minOccurs="0" name="Delivery" type="xs:decimal" />
      <xs:element minOccurs="0" name="Overall" type="xs:decimal" />
      <xs:element minOccurs="0" name="Quality" type="xs:decimal" />
      <xs:element minOccurs="0" name="Service" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Review" nillable="true" type="tns:Review" />
  <xs:complexType name="ArrayOfDeliveryExamples">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DeliveryExamples" nillable="true" type="tns:DeliveryExamples" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDeliveryExamples" nillable="true" type="tns:ArrayOfDeliveryExamples" />
  <xs:complexType name="DeliveryExamples">
    <xs:sequence>
      <xs:element minOccurs="0" name="Cost" type="xs:decimal" />
      <xs:element minOccurs="0" name="MinimumOrder" type="xs:decimal" />
      <xs:element minOccurs="0" name="PostCodes" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DeliveryExamples" nillable="true" type="tns:DeliveryExamples" />
  <xs:complexType name="ArrayOfProduct">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Product" nillable="true" type="tns:Product" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfProduct" nillable="true" type="tns:ArrayOfProduct" />
  <xs:complexType name="Product">
    <xs:sequence>
      <xs:element minOccurs="0" name="Accessories" nillable="true" type="tns:ArrayOfProductAccessory" />
      <xs:element minOccurs="0" name="AvailableBetween" nillable="true" type="tns:TimeRange" />
      <xs:element minOccurs="0" name="Category" nillable="true" type="tns:ProductCategory" />
      <xs:element minOccurs="0" name="ComboOptions" nillable="true" type="tns:ArrayOfMealOption" />
      <xs:element minOccurs="0" name="ContainsNuts" type="xs:boolean" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FoodClassifications" type="tns:FoodClassification" />
      <xs:element minOccurs="0" name="HasAccessories" type="xs:boolean" />
      <xs:element minOccurs="0" name="HasComboOptions" type="xs:boolean" />
      <xs:element minOccurs="0" name="HasRequiredAccessories" type="xs:boolean" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="IsSpicy" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsVegetarian" type="xs:boolean" />
      <xs:element minOccurs="0" name="MenuCardId" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Price" type="xs:decimal" />
      <xs:element minOccurs="0" name="RestaurantMenuNumber" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="RestaurantMenuNumberCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Status" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Product" nillable="true" type="tns:Product" />
  <xs:complexType name="ArrayOfProductAccessory">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ProductAccessory" nillable="true" type="tns:ProductAccessory" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfProductAccessory" nillable="true" type="tns:ArrayOfProductAccessory" />
  <xs:complexType name="ProductAccessory">
    <xs:sequence>
      <xs:element minOccurs="0" name="Cost" type="xs:decimal" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ProductId" type="xs:int" />
      <xs:element minOccurs="0" name="Required" type="xs:boolean" />
      <xs:element minOccurs="0" name="SelectionId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ProductAccessory" nillable="true" type="tns:ProductAccessory" />
  <xs:complexType name="ArrayOfMealOption">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="MealOption" nillable="true" type="tns:MealOption" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfMealOption" nillable="true" type="tns:ArrayOfMealOption" />
  <xs:complexType name="MealOption">
    <xs:sequence>
      <xs:element minOccurs="0" name="DisplayRank" type="xs:int" />
      <xs:element minOccurs="0" name="HasAccessory" type="xs:boolean" />
      <xs:element minOccurs="0" name="ProductChoice" nillable="true" type="tns:ArrayOfProduct" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MealOption" nillable="true" type="tns:MealOption" />
  <xs:simpleType name="FoodClassification">
    <xs:list>
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:enumeration value="None">
            <xs:annotation>
              <xs:appinfo>
                <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">0</EnumerationValue>
              </xs:appinfo>
            </xs:annotation>
          </xs:enumeration>
          <xs:enumeration value="Nuts">
            <xs:annotation>
              <xs:appinfo>
                <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">1</EnumerationValue>
              </xs:appinfo>
            </xs:annotation>
          </xs:enumeration>
          <xs:enumeration value="Hot">
            <xs:annotation>
              <xs:appinfo>
                <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">2</EnumerationValue>
              </xs:appinfo>
            </xs:annotation>
          </xs:enumeration>
          <xs:enumeration value="Vegetarian">
            <xs:annotation>
              <xs:appinfo>
                <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">3</EnumerationValue>
              </xs:appinfo>
            </xs:annotation>
          </xs:enumeration>
        </xs:restriction>
      </xs:simpleType>
    </xs:list>
  </xs:simpleType>
  <xs:element name="FoodClassification" nillable="true" type="tns:FoodClassification" />
  <xs:complexType name="MenuType">
    <xs:sequence>
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Image" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IsDelivery" type="xs:boolean" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MenuType" nillable="true" type="tns:MenuType" />
  <xs:complexType name="MenuHash">
    <xs:sequence>
      <xs:element minOccurs="0" name="Hash" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MenuHash" nillable="true" type="tns:MenuHash" />
  <xs:complexType name="ArrayOfRestaurantSearchResult">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="RestaurantSearchResult" nillable="true" type="tns:RestaurantSearchResult" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfRestaurantSearchResult" nillable="true" type="tns:ArrayOfRestaurantSearchResult" />
  <xs:complexType name="RestaurantSearchResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="Address" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AverageRating" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="City" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CuisineTypes" nillable="true" type="tns:ArrayOfCuisineType" />
      <xs:element minOccurs="0" name="Deals" nillable="true" type="tns:ArrayOfDeal" />
      <xs:element minOccurs="0" name="DefaultDisplayRank" type="xs:int" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="IsHalal" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsNew" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsOpenNow" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsOpenNowForCollection" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsOpenNowForDelivery" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsSponsored" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsTemporarilyOffline" type="xs:boolean" />
      <xs:element minOccurs="0" name="Logo" nillable="true" type="tns:ArrayOfImage" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NumberOfRatings" type="xs:int" />
      <xs:element minOccurs="0" name="Postcode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RatingForDisplay" type="xs:double" />
      <xs:element minOccurs="0" name="ReasonWhyTemporarilyOffline" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ShowSmiley" nillable="true" type="xs:boolean">
        <xs:annotation>
          <xs:appinfo>
            <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="SmileyDate" nillable="true" type="xs:dateTime">
        <xs:annotation>
          <xs:appinfo>
            <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="SmileyElite" nillable="true" type="xs:string">
        <xs:annotation>
          <xs:appinfo>
            <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="SmileyResult" nillable="true" type="xs:int">
        <xs:annotation>
          <xs:appinfo>
            <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="SmileyUrl" nillable="true" type="xs:string">
        <xs:annotation>
          <xs:appinfo>
            <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="UniqueName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Url" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RestaurantSearchResult" nillable="true" type="tns:RestaurantSearchResult" />
  <xs:complexType name="ArrayOfCuisineType">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CuisineType" nillable="true" type="tns:CuisineType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCuisineType" nillable="true" type="tns:ArrayOfCuisineType" />
  <xs:complexType name="CuisineType">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CuisineType" nillable="true" type="tns:CuisineType" />
  <xs:complexType name="ArrayOfDeal">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Deal" nillable="true" type="tns:Deal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDeal" nillable="true" type="tns:ArrayOfDeal" />
  <xs:complexType name="Deal">
    <xs:sequence>
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DescriptionValues" nillable="true" type="tns:ArrayOfDescriptionKeyValue" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Deal" nillable="true" type="tns:Deal" />
  <xs:complexType name="ArrayOfDescriptionKeyValue">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DescriptionKeyValue" nillable="true" type="tns:DescriptionKeyValue" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDescriptionKeyValue" nillable="true" type="tns:ArrayOfDescriptionKeyValue" />
  <xs:complexType name="DescriptionKeyValue">
    <xs:sequence>
      <xs:element minOccurs="0" name="DescriptionKey" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DescriptionValue" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DescriptionKeyValue" nillable="true" type="tns:DescriptionKeyValue" />
  <xs:complexType name="ArrayOfImage">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Image" nillable="true" type="tns:Image" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfImage" nillable="true" type="tns:ArrayOfImage" />
  <xs:complexType name="Image">
    <xs:sequence>
      <xs:element minOccurs="0" name="StandardResolutionURL" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Image" nillable="true" type="tns:Image" />
  <xs:complexType name="GetRestaurantResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="Restaurants" nillable="true" type="tns:ArrayOfRestaurantSearchResult" />
      <xs:element minOccurs="0" name="ShortResultText" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GetRestaurantResult" nillable="true" type="tns:GetRestaurantResult" />
  <xs:complexType name="ApplicationVersion">
    <xs:sequence>
      <xs:element minOccurs="0" name="ForcedVersion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RecommendedVersion" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ApplicationVersion" nillable="true" type="tns:ApplicationVersion" />
  <xs:complexType name="OrderOnlineState">
    <xs:sequence>
      <xs:element minOccurs="0" name="Value" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="OrderOnlineState" nillable="true" type="tns:OrderOnlineState" />
</xs:schema>