FindMeChicken-ASP/Service References/JustEatAPIService/MenuApi2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://api.just-eat.com/MenuApi.svc?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:import schemaLocation="http://api.just-eat.com/MenuApi.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/PublicApi.RequestData" />
  <xs:import schemaLocation="http://api.just-eat.com/MenuApi.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/JustEat.Core.Model" />
  <xs:element name="GetAllConfiguredCountryCodes">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllConfiguredCountryCodesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetAllConfiguredCountryCodesResult" nillable="true" type="q1:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMenus">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/PublicApi.RequestData" minOccurs="0" name="restaurant" nillable="true" type="q2:Restaurant" />
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/PublicApi.RequestData" minOccurs="0" name="context" nillable="true" type="q3:RequestContext" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMenusResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/JustEat.Core.Model" minOccurs="0" name="GetMenusResult" nillable="true" type="q4:ArrayOfMenu" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCurrentMenu">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/PublicApi.RequestData" minOccurs="0" name="restaurant" nillable="true" type="q5:Restaurant" />
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/PublicApi.RequestData" minOccurs="0" name="criteria" nillable="true" type="q6:MenuCriteria" />
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/PublicApi.RequestData" minOccurs="0" name="context" nillable="true" type="q7:RequestContext" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCurrentMenuResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/JustEat.Core.Model" minOccurs="0" name="GetCurrentMenuResult" nillable="true" type="q8:Menu" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMenuHash">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/PublicApi.RequestData" minOccurs="0" name="menu" nillable="true" type="q9:Menu" />
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/PublicApi.RequestData" minOccurs="0" name="context" nillable="true" type="q10:RequestContext" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMenuHashResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/JustEat.Core.Model" minOccurs="0" name="GetMenuHashResult" nillable="true" type="q11:MenuHash" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCategoriesForMenu">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/PublicApi.RequestData" minOccurs="0" name="menu" nillable="true" type="q12:Menu" />
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/PublicApi.RequestData" minOccurs="0" name="context" nillable="true" type="q13:RequestContext" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCategoriesForMenuResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/JustEat.Core.Model" minOccurs="0" name="GetCategoriesForMenuResult" nillable="true" type="q14:ArrayOfProductCategory" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProducts">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/PublicApi.RequestData" minOccurs="0" name="menu" nillable="true" type="q15:Menu" />
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/PublicApi.RequestData" minOccurs="0" name="productCategory" nillable="true" type="q16:ProductCategory" />
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/PublicApi.RequestData" minOccurs="0" name="context" nillable="true" type="q17:RequestContext" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProductsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/JustEat.Core.Model" minOccurs="0" name="GetProductsResult" nillable="true" type="q18:ArrayOfProduct" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProductDetails">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/PublicApi.RequestData" minOccurs="0" name="menu" nillable="true" type="q19:Menu" />
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/PublicApi.RequestData" minOccurs="0" name="product" nillable="true" type="q20:Product" />
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/PublicApi.RequestData" minOccurs="0" name="context" nillable="true" type="q21:RequestContext" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProductDetailsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q22="http://schemas.datacontract.org/2004/07/JustEat.Core.Model" minOccurs="0" name="GetProductDetailsResult" nillable="true" type="q22:Product" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRestaurants">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q23="http://schemas.datacontract.org/2004/07/PublicApi.RequestData" minOccurs="0" name="criteria" nillable="true" type="q23:RestaurantSearchCriteria" />
        <xs:element xmlns:q24="http://schemas.datacontract.org/2004/07/PublicApi.RequestData" minOccurs="0" name="context" nillable="true" type="q24:RequestContext" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRestaurantsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q25="http://schemas.datacontract.org/2004/07/JustEat.Core.Model" minOccurs="0" name="GetRestaurantsResult" nillable="true" type="q25:ArrayOfRestaurantSearchResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRestaurantsV2">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q26="http://schemas.datacontract.org/2004/07/PublicApi.RequestData" minOccurs="0" name="criteria" nillable="true" type="q26:RestaurantSearchCriteria" />
        <xs:element xmlns:q27="http://schemas.datacontract.org/2004/07/PublicApi.RequestData" minOccurs="0" name="context" nillable="true" type="q27:RequestContext" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRestaurantsV2Response">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q28="http://schemas.datacontract.org/2004/07/JustEat.Core.Model" minOccurs="0" name="GetRestaurantsV2Result" nillable="true" type="q28:GetRestaurantResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetApplicationVersion">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q29="http://schemas.datacontract.org/2004/07/PublicApi.RequestData" minOccurs="0" name="criteria" nillable="true" type="q29:VersionCriteria" />
        <xs:element xmlns:q30="http://schemas.datacontract.org/2004/07/PublicApi.RequestData" minOccurs="0" name="context" nillable="true" type="q30:RequestContext" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetApplicationVersionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q31="http://schemas.datacontract.org/2004/07/JustEat.Core.Model" minOccurs="0" name="GetApplicationVersionResult" nillable="true" type="q31:ApplicationVersion" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOrderOnlineState">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q32="http://schemas.datacontract.org/2004/07/PublicApi.RequestData" minOccurs="0" name="context" nillable="true" type="q32:RequestContext" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOrderOnlineStateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q33="http://schemas.datacontract.org/2004/07/JustEat.Core.Model" minOccurs="0" name="GetOrderOnlineStateResult" nillable="true" type="q33:OrderOnlineState" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>