FindMeChicken-ASP/Service References/JustEatAPIService/MenuApi5.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.microsoft.com/2003/10/Serialization/Arrays" elementFormDefault="qualified" targetNamespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://api.just-eat.com/MenuApi.svc?xsd=xsd6" namespace="http://schemas.datacontract.org/2004/07/System" />
  <xs:import schemaLocation="http://api.just-eat.com/MenuApi.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/JustEat.Core.Model" />
  <xs:import schemaLocation="http://api.just-eat.com/MenuApi.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="ArrayOfstring">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfstring" nillable="true" type="tns:ArrayOfstring" />
  <xs:complexType name="ArrayOfKeyValueOfDayOfWeekTimeRangeMGZAWX_PW">
    <xs:annotation>
      <xs:appinfo>
        <IsDictionary xmlns="http://schemas.microsoft.com/2003/10/Serialization/">true</IsDictionary>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="KeyValueOfDayOfWeekTimeRangeMGZAWX_PW">
        <xs:complexType>
          <xs:sequence>
            <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/System" name="Key" type="q1:DayOfWeek" />
            <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/JustEat.Core.Model" name="Value" nillable="true" type="q2:TimeRange" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfKeyValueOfDayOfWeekTimeRangeMGZAWX_PW" nillable="true" type="tns:ArrayOfKeyValueOfDayOfWeekTimeRangeMGZAWX_PW" />
  <xs:complexType name="ArrayOfKeyValueOfDayOfWeekdurationI2ry0_PST">
    <xs:annotation>
      <xs:appinfo>
        <IsDictionary xmlns="http://schemas.microsoft.com/2003/10/Serialization/">true</IsDictionary>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="KeyValueOfDayOfWeekdurationI2ry0_PST">
        <xs:complexType>
          <xs:sequence>
            <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/System" name="Key" type="q3:DayOfWeek" />
            <xs:element name="Value" type="ser:duration" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfKeyValueOfDayOfWeekdurationI2ry0_PST" nillable="true" type="tns:ArrayOfKeyValueOfDayOfWeekdurationI2ry0_PST" />
</xs:schema>